$color-cat: #0059bf;
$color-heading: #000;
$color-par: #606669;
$border-list: #ccc;
$font-heading:'Roboto Slab',
serif;
$font-para:'Lato',
sans-serif;
$spacing-mini: 16px;
$spacing-base:24px;
$font-size: 16px;
$tablet:768px;
$desktop:1024px;
$font-size: 16px;